@model IEnumerable<DataStructure.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<head>
    <style>
        .action {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<h1>Categories</h1>
<p>
    <button type="button" class="btn btn-info"><a asp-action="Create" class="action">Create New Category</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-warning"><a asp-action="Edit" asp-route-id="@item.ID" class="action">Edit</a></button>
                    <br />
                    <hr />
                    <button type="button" class="btn btn-success"><a asp-action="Details" asp-route-id="@item.ID" class="action">Details</a></button>
                    <br />
                    <hr />
                    <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.ID" class="action">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
