@model IEnumerable<DataStructure.Models.Activity>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Activities</h1>
<head>
    <style>
        .isDone {
            text-decoration: line-through;
        }

        .action {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<p>
    <button type="button" class="btn btn-info"><a asp-action="Create" class="action">Create New Activity</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Priority
            </th>
            <th>
                Due Date
            </th>
            <th>
                Done
            </th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.IsDeleted)
                {
                    <td class="isDone">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    if (!string.IsNullOrEmpty(item.Description))
                    {
                        <td class="isDone">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    }
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.WarningLevel)
                </td>
                <td>
                    @if (DateTime.Now.Date > item.DueDate.Date && !item.IsDeleted)
                    {
                        <p style="color:red">Warning - task is overdue!</p>
                    }
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-warning"><a asp-action="Edit" asp-route-id="@item.ID" class="action">Edit</a></button>
                    <br />
                    <hr />
                    <button type="button" class="btn btn-success"><a asp-action="Details" asp-route-id="@item.ID" class="action">Details</a></button>
                    <br />
                    <hr />
                    <button type="button" class="btn btn-danger" onclick="deleteActivity('@item.ID')">Mark As Done</button>
                </td>
            </tr>
        }
    </tbody>
</table>
